{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <form action="/" class="form-inline my-2 my-lg-0" method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {{ form.csrf_token }}
            {{ form.search_query(class="form-control", placeholder="Search") }}

            {% if form.search_query.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.search_query.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

            {{ form.submit(class="btn btn-outline-success") }}
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <form action="/" class="form-inline my-2 my-lg-0" method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

    {# Reviews #}
    <div class="col-md-12">
        <h1> Feed </h1>
        {% for post in posts %}
            <div class="post" style="background-color:rgb(200, 204, 167);padding:3px;">
                <span class="float-right">
                    {% set post_id_str = post_id | string() %}
                    <small>{{ post.date }} <a href="{{ url_for('movies.thread', input_id=post.post_id) }}">No. {{ post.post_id }}</a></small>
                </span>
            {% if post.query != None %}
                <img style="float: left" src="{{ post.query }}" width="60" height="60">
            {% endif %}
            {% if post.anon != 'Anon' %}
                <a href="{{ url_for('movies.user_detail', username=post.commenter.username) }}">
                    <strong>@{{ post.commenter.username }}</strong>
                </a>
            {% endif %}
            {% if post.anon == 'Anon' %}
                <strong>@Anon</strong>
            {% endif %}
            <p>
                {{ post.content }}
            </p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}